<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Material de Refino</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Tábuas de Cedro Raras (T5).2</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <img src="../../assets/img/T5_PLANKS_LEVEL2.png">
      <h2>Material raro usado para criação</h2>
      <br><br>
      <h2>Requisitos de criação</h2>

      <table border="1">
        <tr>
          <th>Item</th>
          <th>Nome</th>
          <th style="text-align: center;">Quantia</th>
        </tr>
        <tr>
          <td><img src="../../assets/img/T5_WOOD_LEVEL2.png"></td>
          <td>Troncos de Cedro Raros</td>
          <td>3</td>
        </tr>
        <tr>
          <td><img src="../../assets/img/T4_PLANKS_LEVEL2.png"></td>
          <td>Tábuas de Pinho Raros</td>
          <td>1</td>
        </tr>
      </table>
    </ion-card-content>
  </ion-card>

</ion-content>
