<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Material de Refino</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Tábuas de Pau-Branco (T8)</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <img src="../../assets/img/T8_PLANKS.png">
      <h2>Material avançado usado na criação, criado pelo refino de toras.</h2>
      <br><br>
      <h2>Requisitos de criação</h2>

      <table border="1">
        <tr>
          <th>Item</th>
          <th>Nome</th>
          <th>Quantia</th>
        </tr>
        <tr>
          <td><img src="../../assets/img/T8_WOOD.png" alt=""></td>
          <td>Troncos de Pau-Branco</td>
          <td>5</td>
        </tr>
        <tr>
          <td><img src="../../assets/img/T7_PLANKS.png" alt=""></td>
          <td>Tábuas de Freixo</td>
          <td>1</td>
        </tr>
      </table>
    </ion-card-content>
  </ion-card>

</ion-content>
