<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="tabCraft">
      <ion-icon name="construct-outline"></ion-icon>
      <ion-label>Craft</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tabRecursos">
      <ion-icon name="stats-chart-outline"></ion-icon>
      <ion-label>Recursos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tabPerfil">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
