<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Material de Refino</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Tábuas de Freixo Excepcionais (T7).3</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <img src="../../assets/img/T7_PLANKS_LEVEL3.png">
      <h2>Material excepcional usado para criação</h2>
      <br><br>
      <h2>Requisitos de criação</h2>

      <table border="1">
        <tr>
          <th>Item</th>
          <th>Nome</th>
          <th style="text-align: center;">Quantia</th>
        </tr>
        <tr>
          <td><img src="../../assets/img/T7_WOOD_LEVEL3.png"></td>
          <td>Troncos de Freixo Excepcionais</td>
          <td>5</td>
        </tr>
        <tr>
          <td><img src="../../assets/img/T6_PLANKS_LEVEL3.png"></td>
          <td>Tábuas de Carvalho-Sangue Excepcionais</td>
          <td>1</td>
        </tr>
      </table>
    </ion-card-content>
  </ion-card>

</ion-content>
