<ion-header>
  <ion-searchbar placeholder="Procurar"></ion-searchbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
          <ion-card>
            <img src="../../assets/img/T2_PLANKS.png"/>
            <ion-card-header>
              <ion-card-subtitle>Tábuas de Bétula (T2)</ion-card-subtitle>
            </ion-card-header>
        
            <ion-card-content>
              <ion-button (click)="betula()" color="dark" fill="outline">View</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <img src="../../assets/img/T3_PLANKS.png"/>
            <ion-card-header>
              <ion-card-subtitle>Tábuas de Castanheira (T3)</ion-card-subtitle>
            </ion-card-header>
        
            <ion-card-content>
              <ion-button (click)="castanheira()" color="dark" fill="outline">View</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
            <ion-card>
              <img src="../../assets/img/T4_PLANKS.png"/>
              <ion-card-header>
                <ion-card-subtitle>Tábuas de Pinho (T4)</ion-card-subtitle>
              </ion-card-header>
          
              <ion-card-content>
                <ion-button color="dark" fill="outline" (click)="pinho()">View</ion-button>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col>
            <ion-card>
              <img src="../../assets/img/T4_PLANKS_LEVEL1.png"/>
              <ion-card-header>
                <ion-card-subtitle>Tábuas de Pinho Incomuns (T4).1</ion-card-subtitle>
              </ion-card-header>
          
              <ion-card-content>
                <ion-button color="dark" fill="outline" (click)="pinho1()">View</ion-button>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
              <ion-card>
                <img src="../../assets/img/T4_PLANKS_LEVEL2.png"/>
                <ion-card-header>
                  <ion-card-subtitle>Tábuas de Pinho Raras (T4).2</ion-card-subtitle>
                </ion-card-header>
            
                <ion-card-content>
                  <ion-button color="dark" fill="outline" (click)="pinho2()">View</ion-button>
                </ion-card-content>
              </ion-card>
            </ion-col>
            <ion-col>
              <ion-card>
                <img src="../../assets/img/T4_PLANKS_LEVEL3.png"/>
                <ion-card-header>
                  <ion-card-subtitle>Tábuas de Pinho Excepcionais (T4).3</ion-card-subtitle>
                </ion-card-header>
            
                <ion-card-content>
                  <ion-button color="dark" fill="outline" (click)="pinho3()">View</ion-button>
                </ion-card-content>
              </ion-card>
            </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-card>
              <img src="../../assets/img/T5_PLANKS.png"/>
              <ion-card-header>
                <ion-card-subtitle>Tábuas de Cedro (T5)</ion-card-subtitle>
              </ion-card-header>
            
              <ion-card-content>
                <ion-button color="dark" fill="outline" (click)="cedro()">View</ion-button>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col>
            <ion-card>
              <img src="../../assets/img/T5_PLANKS_LEVEL1.png"/>
              <ion-card-header>
                <ion-card-subtitle>Tábuas de Cedro Incomuns (T5).1</ion-card-subtitle>
              </ion-card-header>
            
              <ion-card-content>
                <ion-button color="dark" fill="outline" (click)="cedro1()">View</ion-button>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-card>
              <img src="../../assets/img/T5_PLANKS_LEVEL2.png"/>
              <ion-card-header>
                <ion-card-subtitle>Tábuas de Cedro Raras (T5).2</ion-card-subtitle>
              </ion-card-header>
            
              <ion-card-content>
                <ion-button color="dark" fill="outline" (click)="cedro2()">View</ion-button>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col>
            <ion-card>
              <img src="../../assets/img/T5_PLANKS_LEVEL3.png"/>
              <ion-card-header>
                <ion-card-subtitle>Tábuas de Cedro Excepcionais (T5).3</ion-card-subtitle>
              </ion-card-header>
            
              <ion-card-content>
                <ion-button color="dark" fill="outline" (click)="cedro3()">View</ion-button>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-card>
              <img src="../../assets/img/T6_PLANKS.png"/>
              <ion-card-header>
                <ion-card-subtitle>Tábuas de Carvalho-sangue (T6)</ion-card-subtitle>
              </ion-card-header>
            
              <ion-card-content>
                <ion-button color="dark" fill="outline" (click)="carvalhoSangue()">View</ion-button>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col>
            <ion-card>
              <img src="../../assets/img/T6_PLANKS_LEVEL1.png"/>
              <ion-card-header>
                <ion-card-subtitle>Tábuas de Carvalho-sangue Incomuns (T6).1</ion-card-subtitle>
              </ion-card-header>
            
              <ion-card-content>
                <ion-button color="dark" fill="outline" (click)="carvalho1()">View</ion-button>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-card>
              <img src="../../assets/img/T6_PLANKS_LEVEL2.png"/>
              <ion-card-header>
                <ion-card-subtitle>Tábuas de Carvalho-sangue Raras (T6).2</ion-card-subtitle>
              </ion-card-header>
            
              <ion-card-content>
                <ion-button color="dark" fill="outline" (click)="carvalho2()">View</ion-button>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col>
            <ion-card>
              <img src="../../assets/img/T6_PLANKS_LEVEL3.png"/>
              <ion-card-header>
                <ion-card-subtitle>Tábuas de Carvalho-sangue Excepcionais (T6).3</ion-card-subtitle>
              </ion-card-header>
            
              <ion-card-content>
                <ion-button color="dark" fill="outline" (click)="carvalho3()">View</ion-button>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-card>
              <img src="../../assets/img/T7_PLANKS.png"/>
              <ion-card-header>
                <ion-card-subtitle>Tábuas de Freixo (T7)</ion-card-subtitle>
              </ion-card-header>
            
              <ion-card-content>
                <ion-button color="dark" fill="outline" (click)="freixo()">View</ion-button>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col>
            <ion-card>
              <img src="../../assets/img/T7_PLANKS_LEVEL1.png"/>
              <ion-card-header>
                <ion-card-subtitle>Tábuas de Freixo Incomuns (T7).1</ion-card-subtitle>
              </ion-card-header>
            
              <ion-card-content>
                <ion-button color="dark" fill="outline" (click)="freixo1()">View</ion-button>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-card>
              <img src="../../assets/img/T7_PLANKS_LEVEL2.png"/>
              <ion-card-header>
                <ion-card-subtitle>Tábuas de Freixo Raras (T7).2</ion-card-subtitle>
              </ion-card-header>
            
              <ion-card-content>
                <ion-button color="dark" fill="outline" (click)="freixo2()">View</ion-button>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col>
            <ion-card>
              <img src="../../assets/img/T7_PLANKS_LEVEL3.png"/>
              <ion-card-header>
                <ion-card-subtitle>Tábuas de Freixo Excepcionais (T7).3</ion-card-subtitle>
              </ion-card-header>
            
              <ion-card-content>
                <ion-button color="dark" fill="outline" (click)="freixo3()">View</ion-button>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-card>
              <img src="../../assets/img/T8_PLANKS.png"/>
              <ion-card-header>
                <ion-card-subtitle>Tábuas de Pau-branco (T8)</ion-card-subtitle>
              </ion-card-header>
            
              <ion-card-content>
                <ion-button color="dark" fill="outline" (click)="pauBranco()">View</ion-button>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col>
            <ion-card>
              <img src="../../assets/img/T8_PLANKS_LEVEL1.png"/>
              <ion-card-header>
                <ion-card-subtitle>Tábuas de Pau-branco Incomuns (T8).1</ion-card-subtitle>
              </ion-card-header>
            
              <ion-card-content>
                <ion-button color="dark" fill="outline" (click)="pau1()">View</ion-button>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-card>
              <img src="../../assets/img/T8_PLANKS_LEVEL2.png"/>
              <ion-card-header>
                <ion-card-subtitle>Tábuas de Pau-branco Raras (T8).2</ion-card-subtitle>
              </ion-card-header>
            
              <ion-card-content>
                <ion-button color="dark" fill="outline" (click)="pau2()">View</ion-button>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col>
            <ion-card>
              <img src="../../assets/img/T8_PLANKS_LEVEL3.png"/>
              <ion-card-header>
                <ion-card-subtitle>Tábuas de Pau-branco Excepcionais (T8).3</ion-card-subtitle>
              </ion-card-header>
            
              <ion-card-content>
                <ion-button color="dark" fill="outline" (click)="pau3()">View</ion-button>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>

    </ion-grid>
</ion-content>
